@import "./vars";

@mixin legendStyle {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1.4em;
}

@mixin stageStyle {
  background-color: $clr-primary;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 1.15rem;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

@mixin wrapperStyle($mb) {
  display: flex;
  flex-direction: column;
  margin-bottom: $mb;
}
@mixin rowStyle {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.4em;
  @media (max-width: map-get($breack-point, mobile)) {
    justify-content: space-between;
    margin-bottom: 1.5em;
  }
}
@mixin formLabelStyle {
  position: absolute;
  left: 1rem;
  top: 0.7rem;
  font-size: 0.95rem;
  margin-bottom: $mrg-label;
  padding: 0 0.5rem;
  color: $clr-placeholder;
  background-color: transparent;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}
@mixin formInputStyle($isValid) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1em;
  font-size: 1.05rem;
  border: 1px solid #a1bcdb;
  border-radius: 5px;
  box-shadow: var(--shadow);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1.25rem;
  background: none;
  @if $isValid == true {
    &:hover {
      border-color: $clr-primary-light;
    }

    &:focus {
      border-color: $clr-primary;
    }
  }
  @if $isValid == false {
    border: 1px solid $clr-error;
    &:hover {
      border-color: $clr-error-light;
    }

    &:focus {
      border-color: $clr-error;
    }
  }
}

@mixin toUpLabel {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}
