//screen breack-point
$breack-point: (
  //extra-small screen
  "mobile": 525px,
  "xs": 479px,
  //small
  "sm": 639px,
  //middle
  "md": 959px,
  //large
  "lg": 1199px
);

//color variables
$shadow: 0 4px 8px 0 rgba(44, 39, 56, 0.04);

$clr-primary: rgba(8, 128, 174, 1);
$clr-primary-light: rgba(81, 170, 223, 1);
$clr-body-form: #f4f7f8;
$clr-placeholder: rgb(8, 87, 172);
$clr-error: rgb(230, 49, 49);
$clr-error-light: rgba(255, 113, 113, 1);
$mrg-label: 0.5em;
