@import "./vars";
@import "./media.scss";

:root {
  font-size: 1.05rem;
  box-sizing: border-box;
  @include responsFontSize;
}
body {
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
  /*background-color: rgba(227, 171, 154, 0.7);*/
  /* background-color: rgb(172, 225, 211);*/
  /*background-color: rgb(183, 210, 231);*/
  background-image: linear-gradient(120deg, rgb(209, 219, 233), rgb(240, 250, 243));
}
*,
*::after,
*::before {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
input {
  outline: none;
}
.main {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 35em;
    /*min-height: 100vh;*/
    margin: 10px auto;
    padding: 10px 20px;
    background: $clr-body-form;
    border-radius: 5px;
    .form-header {
      width: 50%;
      text-align: center;
      font-size: 1.5rem;
    }
    @include responsForm;
    padding: 10px 10px;
  }
}
